{# templates/main/index.html.twig #}

<h1>Witaj {{ slug }} ! </h1>
</br>
{% if app.session.get('isLogged') == false %}

<a href="{{ path('login') }}">Login</a> </br>
<a href="{{ path('register') }}">Register</a> </br>
{% endif %}

{% if app.session.get('isLogged') == true %}
    <a href="{{ path('secret') }}">Secret</a>
<a href="{{ path('logout') }}">Wyloguj</a>
{% endif %}

