Logowanie </br>




{{ form_start(form, {'method': 'POST'}) }}



<div class="form-control-email">
    <i class="fa fa-calendar"></i> {{ form_label(form.username, "Nazwa użytkownika") }}
    <br/>
    {{ form_widget(form.username) }}

    <small>{{ form_help(form.username) }}</small>

    <div class="form-error">
        {{ form_errors(form.username) }}
    </div>
</div>
<div class="form-control-password">
    <i class="fa fa-calendar"></i> {{ form_label(form.password, "Hasło") }}
    <br/>
    {{ form_widget(form.password) }}

    <small>{{ form_help(form.password) }}</small>

    <div class="form-error">
        {{ form_errors(form.password) }}
    </div>
</div>
<div class="form-control-submit">
    {{ form_row(form.save ) }}

</div>

{{ form_end(form) }}


<a href="{{ path('index') }}">Wroc</a> </br>