Rejestracja  </br>




{{ form_start(form, {'method': 'POST'}) }}
<div class="form-control-username">
    <i class="fa fa-calendar"></i> {{ form_label(form.Username, "Nazwa użytkownika") }}
    <br/>
    {{ form_widget(form.Username) }}

    <small>{{ form_help(form.Username) ? 'id' }}</small>

    <div class="form-error">
        {{ form_errors(form.Username) }}
    </div>
</div>
<div class="form-control-password">
    <i class="fa fa-calendar"></i> {{ form_label(form.Password, "Hasło") }}
    <br/>
    {{ form_widget(form.Password) }}

    <small>{{ form_help(form.Password) }}</small>

    <div class="form-error">
        {{ form_errors(form.Password) }}
    </div>
</div>

<div class="form-control-email">
    <i class="fa fa-calendar"></i> {{ form_label(form.Email, "E-mail") }}
    <br/>
    {{ form_widget(form.Email) }}

    <small>{{ form_help(form.Email) }}</small>

    <div class="form-error">
        {{ form_errors(form.Email) }}
    </div>
</div>
<div class="form-control-submit">
    {{ form_row(form.Register ) }}

</div>

{{ form_end(form) }}


<a href="{{ path('index') }}">Wroc</a> </br>